<div class="hero">
    <div class="hero-container">
        <div class="hero-text">
            <h1>ГРУЗОПЕРЕВОЗКИ И РАЗБОР ГРУЗОВЫХ АВТОМОБИЛЕЙ В САНКТ-ПЕТЕРБУРГЕ</h1>
            <p>Наша компания «АТБ-14» занимается грузоперевозками и выкупом китайских грузовых автомобилей, а также продажей запчастей с них.</p>
            <p>«АТБ-14» – это надежный партнер, который гарантирует высокое качество услуг, индивидуальный подход к каждому клиенту и выгодные условия сотрудничества.</p>
            <a href="#" class="hero-btn">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
        <div class="hero-image">
            <img src="images/truck.png?v=2" alt="Грузовик">
        </div>
    </div>
</div>

<style>
    .hero {
        display: flex;
        justify-content: center; /* Центрируем содержимое */
        align-items: center;
        text-align: left; /* Выравниваем текст слева */
        background-color: white;
    }

    .hero-container {
        max-width: 1600px;
        width: 100%;
        display: flex;
        justify-content: space-between; /* Раздвигаем текст и изображение */
        align-items: center;
        gap: 50px; /* Промежуток между текстом и картинкой */
        padding: 0 50px; /* Отступы слева и справа */
    }

    .hero-text {
        max-width: 600px; /* Ограничение ширины текста */
    }

        .hero-text h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 25px;
        }

        .hero-text p {
            font-size: 20px;
            margin-bottom: 20px;
        }

    .hero-buttons {
        display: flex;
        gap: 20px;
    }

    .hero-btn {
        display: inline-block;
        background: red;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 30px;
    }

        .hero-btn.black {
            background: black;
        }

    .hero-image {
        max-width: 1600px; /* Размер изображения */
    }

        .hero-image img {
            width: 130%;
            height: auto
        }
</style>