<div class="hero">
    <div class="hero-container">
        <div class="hero-text">
            <h1>ГРУЗОПЕРЕВОЗКИ И РАЗБОР ГРУЗОВЫХ АВТОМОБИЛЕЙ В САНКТ-ПЕТЕРБУРГЕ</h1>
            <p>Наша компания «АТБ-14» занимается грузоперевозками и выкупом китайских грузовых автомобилей, а также продажей запчастей с них.</p>
            <p>«АТБ-14» – это надежный партнер, который гарантирует высокое качество услуг, индивидуальный подход к каждому клиенту и выгодные условия сотрудничества.</p>
            <a href="#" class="hero-btn">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
        <div class="hero-image">
            <img src="images/truck.png" alt="Грузовик">
        </div>
    </div>
</div>

<style>
    .hero {
        position: relative;
        background: white;
        padding: 0 0;
    }

    .hero-container {
        max-width: auto;
        margin: 0 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text {
        width: auto;
    }

        .hero-text h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 25px;
        }

        .hero-text p {
            font-size: 24px;
            margin-bottom: 20px;
        }

    .hero-btn {
        display: inline-block;
        background: red;
        color: white;
        padding: 15px 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
    }

    .hero-image {
        width: auto;
        text-align: right;
    }

        .hero-image img {
            width: auto;
            max-width: 1003px;

        }


</style>