/* _content/WebApp/Components/Home/HeroSection.razor.rz.scp.css */
body[b-c64ntn1x87] {
}
/* _content/WebApp/Components/Layout/MainLayout.razor.rz.scp.css */
/* _content/WebApp/Components/Shared/Footer.razor.rz.scp.css */
.header[b-92c3vjmejy] {
    background-color: blue;
    color: white;
    padding: 120px;
}
/* _content/WebApp/Components/Shared/Header.razor.rz.scp.css */
.header[b-l543uqgmyb] {
    background-color: blue;
    color: white;
    padding: 20px;
}
